---
const name = "visitor"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home Page</title>
  </head>

  <body>
    <div class="text-center">
      <h1 class="font-bold">Home</h1>
      <p>Hello there {name} 👋</p>
    </div>

    <img src="background.jpg" class="h-14 w-14" />
  </body>
</html>
